body {
  background: #ffffff;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.1) 1px,
    transparent 1px
  );
  background-size: 20px 20px, 100% 100%;
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;
}

.bg-secondary-subtle {
  background-image: url("upload/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.connexion {
  outline: 2px solid #6366f1;
  outline-offset: 4px;
}

.h1ProductIndex {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #1a365d;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 120px;
}

.h1ProductIndex::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: 40px;
  height: 3px;
  background: linear-gradient(to right, #1a365d, #3182ce);
  transition: width 0.3s ease;
}

.h1ProductIndex:hover::after {
  width: 85%;
}

.container{
    background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
}



.h3ProductIndex {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #1a365d;
}

.h1Login {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #1a365d;
  letter-spacing: 1px;
  margin: 30px 20px;
  position: relative;
  display: inline-block;
}

.h1Login::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: 40px;
  height: 3px;
  background: linear-gradient(to right, #1a365d, #3182ce);
  transition: width 0.3s ease;
}

.h1Login:hover::after {
  width: 55%;
}

.bodyProductIndex {
  margin-top: 6% !important;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 8%;
}

.navItem {
  display: flex;
  gap: 1em;
  margin: 20px;
}

.hover-scale-effect {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.hover-scale-effect:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

/* Conteneur de l'image et de l'overlay */
.image-hover-effect {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
}

/* Style de l'image */
.imgIndexProduct {
  border: solid grey 2px;
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.imgIndexProduct2 {
  border: solid grey 2px;
  display: block;
  min-width: 250px;
  min-height: 300px;
  transition: all 0.3s ease;
  object-fit: cover;
}

/* Overlay avec le texte DETAILS */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 34px;
  font-weight: bold;
  text-shadow: 2px 2px 0 #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

/* Animation au survol */
.image-hover-effect:hover .overlay {
  opacity: 1;
}

.image-hover-effect:hover .imgIndexProduct {
  filter: brightness(90%);
}

.card {
  width: 18rem;
  height: 530px !important;
}

.navtxt {
  font-family: "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  position: relative;
  text-decoration: none;
  color: #1a365d;
  font-weight: 500;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.navtxt::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #4a90e2;
  transition: all 0.3s ease;
}

.navtxt:hover {
  color: #1a365d;
}

.navtxt:hover::after {
  width: 100%;
  left: 0;
}

.btn-warning:hover {
  border: solid grey 2px !important;
}

.btn-danger:hover {
  border: solid grey 2px !important;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #333;
  background: white;
  font-size: 28px;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease;
  line-height: 0;
  padding-bottom: 4px; /* Ajustement fin pour centrer */
  margin: 10px 15px;
}

.back-btn:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.imgDetails {
  max-width: 650px;
}
